<div class="register-container d-flex flex-column vh-100 text-center">
  <!-- Logo e Mensagem -->
  <div class="login-header text-center">
    <img class="logo" src="\assets\logos\zi_bg_white_2.jpg" alt="Logo What to Play?" class="logo mb-3" width="60" />

    <!-- fw: font-weight- (normal, bold, thin) || estilização fonte -->
    <h1 class="fw-bold">Cadastro de Usuário</h1> 
    <p>
      <!-- text- accent || depende do css -->
      Faça o seu cadastro para entrar no
      "<strong class="text-accent">What to Play?</strong>"
    </p>
  </div>

  <!-- forms de cadastro -->
  <div class="register-form d-flex flex-column align-items-center justify-content-center px-  4">
    <form class="d-flex flex-column s-p-6">

      <!-- Campo de E-mail -->
      <!-- mb: margin bottom -->
      <div class="form-floating mb-2">
        <input type="email" class="form-control" id="floatingInput" placeholder="" formControlName="email" />
        <label for="floatingInput">Email</label>
      </div>

      <!-- Campo de Senha -->
      <div class="form-floating mb-2">
        <input type="password" class="form-control" id="floatingInput" placeholder="" formControlName="senha" />
        <label for="floatingInput">Senha</label>
      </div>

      <!-- Campo de Confirmar Senha -->
      <div class="form-floating mb-2">
        <input type="password" class="form-control" id="floatingInput" placeholder="" formControlName="senha" />
        <label for="floatingInput">Confirmar senha</label>
      </div> 


      <!-- Campo de Data de Nascimento -->
      <div class="form-floating mb-4">
        <input type="date" class="form-control" id="floatingInput" placeholder="" formControlName="dataDeNascimento" />
        <label for="floatingInput">Data de Nascimento</label>
      </div>

      <!-- Botões de Ação -->
      <button type="submit" class="btn btn-primary w-100 mb-2 text-uppercase" color="primary">
        Cadastrar
      </button>

      <button type="button" class="btn btn-secondary w-100 mb-2  text-uppercase" routerLink="/authentication/login">
        Voltar ao Login
      </button>
    </form>

  </div>

</div>