<div class="register-container d-flex flex-column justify-content-center gap-2 vh-100">
  <div class="register-header text-center d-flex flex-start p-3">
    <img src="/assets/image-removebg-preview.png" alt="Logo What to Play?" class="mb-4" width="70" />
    <div class="text-start">
      <h1 class="text-primary fw-bold">Cadastro</h1>
      <p>
        Cadastre-se no
        <strong>"What to Play?"</strong>
      </p>
    </div>
  </div>

  <div class="register-form d-flex flex-column align-items-center justify-content-center px-4">
    <form class="w-100" [formGroup]="form">

      <div class="form-group mb-3">
        <input type="text" class="form-control" placeholder="Nome Completo" formControlName="nomeCompleto"/>
      </div>

      <div class="form-group mb-3">
        <input type="text" class="form-control" placeholder="Nome de Usuário" formControlName="nomeUsuario"/>
      </div>

      <div class="form-group mb-3">
        <input type="email" class="form-control" placeholder="E-mail" formControlName="emailUsuario"/>
      </div>

      <div class="form-group mb-3">
        <input type="password" class="form-control" placeholder="Senha" formControlName="senhaUsuario"/>
      </div>

      <div class="form-floating mb-4">
        <input type="date" class="form-control" formControlName="dataNascimento"/>
        <label class="label">Data de Nascimento</label>
      </div>

      <!-- Botões de Ação -->
      <button class="btn btn-primary w-100 mb-2 text-uppercase" [disabled]="form.invalid" (click)="register()">
        Cadastrar
      </button>

      <button class="btn btn-login w-100 mb-2  text-uppercase" routerLink="/authentication/login">
        Voltar ao Login
      </button>
    </form>

  </div>