<div class="register-container d-flex flex-column justify-content-center gap-2 vh-100">
  <!-- Logo e Mensagem -->
  <div class="register-header text-center d-flex flex-start p-3">
    <img src="/assets/image-removebg-preview.png" alt="Logo What to Play?" class="mb-4" width="70" />
    <div class="text-start">
      <!-- fw: font-weight- (normal, bold, thin) || estilização fonte -->
      <h1 class="text-primary fw-bold">Cadastro</h1>
      <p>
        Cadastre-se no
        <strong>"What to Play?"</strong>
      </p>
    </div>
  </div>

  <!-- forms de cadastro -->
  <div class="register-form d-flex flex-column align-items-center justify-content-center px-4">
    <form class="w-100" [formGroup]="form">
      <!-- mb: margin bottom -->
      <!-- -3: espaço -->

      <!-- Campo de E-mail -->
      <div class="form-group mb-3">
        <input 
          type="email" 
          class="form-control" 
          placeholder="Insira seu e-mail" 
          formControlName="email" 
          />
      </div>

      <!-- Campo de Senha -->
      <div class="form-group mb-3">
        <input 
          type="password" 
          class="form-control" 
          placeholder="Insira sua senha" 
          formControlName="senha" 
          />
      </div>

      <!-- Campo de Confirmar Senha -->
      <div class="form-group mb-3">
        <input 
          type="password" 
          class="form-control" 
          placeholder="Confirme sua senha" 
          formControlName="senha" 
          />
      </div>


      <!-- Campo de Data de Nascimento -->
      <div class="form-group mb-3">
        <input 
          type="date"  
          class="form-control" 
          formControlName="dataDeNascimento" 
          />
        <label id="dataDeNascimento">
          data de nascimento
        </label>
      </div>

      <!-- Botões de Ação -->
      <button class="btn btn-primary w-100 mb-2 text-uppercase">
        Cadastrar
      </button>

      <button class="btn btn-login w-100 mb-2  text-uppercase" routerLink="/authentication/login">
        Voltar ao Login
      </button>
    </form>

  </div>