<div class="login-container d-flex flex-column vh-100">
  <!-- Logo e Mensagem -->
  <div class="login-header text-center d-flex align-items-center justify-content-center p-4">
    <img src="/assets/image-removebg-preview.png" alt="Logo What to Play?" class="logo mb-3" width="60" />
    <div *ngIf="isLoginPageSelected" class="text-start">
      <h1 class="fw-bold">Login</h1>
      <p>
        Preencha seu login para entrar no 
        <strong class="text-accent">"What to Play?"</strong>
      </p>
    </div>
  </div>

  <!-- Formulário de Login -->
  <div class="login-form d-flex flex-column align-items-center justify-content-center px-4">
    <form
      *ngIf="isLoginPageSelected"
      class="w-100"
      [formGroup]="form"
    >
      <!-- Campo de E-mail -->
      <div class="form-group mb-3">
        <input 
          type="email"
          class="form-control"
          placeholder="Insira seu e-mail"
          formControlName="email"
        />
      </div>
      
      <!-- Campo de Senha -->
      <div class="form-group mb-3">
        <input 
          type="password"
          class="form-control"
          placeholder="Insira sua senha"
          formControlName="senha"
        />
      </div>

      <!-- Esqueceu a Senha -->
      <div class="text-end mb-4">
        <span
          class="text-accent fw-bold cursor-pointer"
          role="button"
          (click)="isLoginPageSelected = false"
        >
          Esqueceu sua senha?
        </span>
      </div>

      <!-- Botões de Ação -->
      <button
        class="btn btn-primary w-100 mb-3 text-uppercase"
        [disabled]="form.invalid"
        (click)="authenticate()"
      >
        Acessar
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary w-100 text-uppercase"
        routerLink="/authentication/register"
      >
        Cadastrar
      </button>
    </form>
  </div>

  <!-- Esqueci a Senha -->
  <div *ngIf="!isLoginPageSelected" class="forgot-password w-100">
    <app-forgot-password (back)="isLoginPageSelected = true"></app-forgot-password>
  </div>
</div>
