<div class="all-games vh-100 justify-content-center p-2">

  <div>
    <app-header></app-header>
  </div>

  <!-- Search Bar -->
  <div class="search-bar">
    <input type="text" placeholder="Search"/> 
    <span class="material-icons" style="font-size: 36px;">search</span>

  </div>

  <!-- Games List -->
  <ul class="games-list">
    <li *ngFor="let game of games" class="game-item">
      <span class="game-name">{{ game.name }}</span>
      <div class="game-actions">
        <i class="fas fa-trophy"></i> <!-- Ícone de troféu -->
        <i class="fas fa-heart"></i> <!-- Ícone de coração -->
      </div>
    </li>
  </ul>

  <div>
    <app-navigation></app-navigation>
  </div>
</div>