<div class="all-games vh-100 justify-content-center p-3">

  <div>
    <app-header></app-header>
  </div>

  <!-- Search Bar -->
  <div class="search-bar d-flex flex-row align-items-center mb-3">
    <span class="material-icons" style="font-size: 22px;">search</span> 
    <input type="text" placeholder="Search"> 
  </div>

  <!-- Games List -->
   <div height="80%;">
     <div *ngFor="let game of games$ | async">
       <app-cards
       [name]="game.nomeJogo"
       [type]="game.tipoJogo"
       [classificacao]="game.faixaEtaria"></app-cards>
     </div>
   </div>

  <div class="navigation mb-3">
    <app-navigation></app-navigation>
  </div>
</div>