.search-bar {
    position: relative;
}

.search-bar input {
    width: 100%;
    font-size: 12px;
    border: 2px solid #ba0b11;
    border-radius: 40px;
}

.search-bar .material-icons {
    position: absolute;
    right: 10px;
    color: #ba0b11;
    pointer-events: none;
}

.navigation {
    width: 90%;
    position: fixed;
    bottom: 0;
}