<div class="d-flex flex-column gap-2">
  <!-- Cabeçalho -->

  <div class="text-center d-flex flex-start p-3">
    <img src="/assets/image-removebg-preview.png" alt="Logo What to Play?" class="mb-4" width="70" />
    <div class="text-start">
      <h1 class="fw-bold text-primary">Resetar Senha</h1>
    <p>
      Insira seu e-mail para redefiní-la
    </p>
    </div>
  </div>

  <div class="form-group w-100 px-4" [formGroup]="form">
    <input 
      type="email" 
      class="form-control mb-4" 
      placeholder="Insira seu e-mail" 
      formControlName="emailControl" 
    />
    <button 
      class="btn btn-primary w-100 mb-2 text-uppercase" 
      [disabled]="form.invalid"
      (click)="resetPassword()"
    >
      Enviar
    </button>
    <button 
      class="btn btn-back w-100 text-uppercase" 
      type="button" 
      (click)="back.emit()"
    >
      Voltar
    </button>
  </div>
</div>
