vc esquceu sua senha bobao

<div
  class="d-flex flex-column"
>
  <h1>Resetar Senha</h1>
  <p>
    Insira o seu email cadastrado no nosso site para receber uma nova senha.
  </p>

  <input type="email" label="Email" placeholder="Insira seu e-mail" formControlName="emailControl">

  <button
    class="s-mt-4 text-uppercase"
    [disabled]="emailControl.invalid"
    (click)="resetPassword()"
  >
    <span class="c-white">Enviar</span>
  </button>
  <button
    class="s-mt-4 text-uppercase"
    type="button"
    (click)="back.emit()"
  >
    Voltar
  </button>
</div>