<div class="profile vh-100 justify-content-center align-items-center p-3">

    <div>
      <app-header></app-header>
    </div>
    
      <!-- Container do Perfil -->
      <div *ngIf="users$ |async as user" class="profile-container container">
        <div class="profile-header text-center d-flex flex-column flex-md-row align-items-center justify-content-between">
          <!-- Imagem de Perfil -->
          <div class="mb-3 mb-md-0 me-md-3">
            <img src="../../../assets/profile-icon.jpeg" alt="profile-icon" class="img-fluid rounded-circle" style="width: 80px;">
          </div>
    
          <!-- Informações do Perfil -->
          <div class="text-center">
            <h1 class="profile-username fw-bold">
              <div>{{arroba}}{{ user.nomeUsuario }}</div>
            </h1>

            <!-- Novos Campos: Jogos e Amigos -->
            <div class="mt-2 d-flex gap-3 justify-content-around">
              <div class="text-center">
                <h5>Jogos</h5>
                <p class="fs-4">{{ user.jogos.length  }}</p>
              </div>
              <div class="text-center">
                <h5>Amigos</h5>
                <p class="fs-4"> 0 </p>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Botões -->
        <div class="profile-actions d-flex flex-row text-center gap-3 mb-3">
          <button class="profile-btn">Editar perfil</button>
          <button class="profile-btn">Compartilhar perfil</button>
          <span class="material-icons profile-btn">person_add</span>
        </div>
    
        <!-- Navegação: Meus Jogos / Favoritos -->
        <div class="profile-navigation mt-5 mb-4 text-center">
          <button class="toogle me-2"  [ngClass]="{'active-tab': activeTab === 'meusJogos'}"   (click)="setActiveTab('meusJogos')" >MEUS JOGOS</button>
          <button class="toogle"  [ngClass]="{'active-tab': activeTab === 'favoritos'}"  (click)="setActiveTab('favoritos')">FAVORITOS ❤ </button>
        </div>
    
        <!-- Lista de Jogos -->
        <div class="game-list-container">
          <div class="game-list">
            <div *ngFor="let game of user.jogos" class="game-card mb-3 p-2 shadow-sm d-flex justify-content-between">
              <div>
                <div>{{arroba}}{{ user.nomeUsuario }}</div>
                <h4 class="fw-bold text-uppercase">{{ game.nomeJogo }}🏆</h4>
                <p>{{ game.regraJogo }}</p>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center gap-2" [ngSwitch]="game.faixaEtaria">
                <img [src]="getCardClassificacaoImage(game.faixaEtaria)" alt="" width="28px;" height="28px;" class="classificacao">
                <mat-icon class="favorite" (click)="toggleCurtida()">{{ isFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
            </div>
            </div>
          </div>
        </div>
      </div>    
  
    <div class="navigation mb-3">
      <app-navigation></app-navigation>
    </div>
  </div>