<div class="home-page d-flex flex-column gap-5 justify-content-center align-items-center vh-100">
    <header class="header d-flex flex-row ">
      <img src="/assets/image-removebg-preview.png" alt="Logo" class="logo" width="50">
      <h1>What to play?</h1>
    </header>
    
    <div class="options">
      <div class="option">
        <img src="/assets/baralho-removebg-preview.png" alt="Baralho" width="110">
        <p>Baralho</p>
      </div>
      <div class="option">
        <img src="/assets/conversa-removebg-preview.png" alt="Conversa" width="120">
        <p>Conversa</p>
      </div>
      <div class="option">
        <img src="/assets/papel-removebg-preview.png" alt="Papel e Caneta" width="130">
        <p>Papel e Caneta</p>
      </div>
    </div>
  
    <button class="btn all-games-btn text-uppercase">Todos os Jogos</button>
  </div>
  