<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados do Banco</title>
</head>
<body>
    <h1>Usuários</h1>
    <div>{{ usuarios_html }}</div>

    <h1>Jogos</h1>
    <div>{{ jogos_html }}</div>

    <h1>Avaliações</h1>
    <div>{{ avaliacoes_html }}</div>

    <h1>Favoritos</h1>
    <div>{{ favoritos_html  }}</div>

    <h1>Classificações Etárias</h1>
    <div>{{ classificacoes_etarias_html | safe }}</div>
</body>
</html>
